body{
	background-color: khaki;
}
h1{
	text-align: center;
}
p{	
	background-color: aqua;
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 10px;
}
div{
	background-color: lavender;
	width: 320px;
	padding: 10px;
	border: 5px solid red;
	margin: 0;
}