h1{
	text-align: center;
}
body{
	background-color: lavender;
}

div.x1{
	width: 500px;
	margin: otomatis;
	border: 3px solid black;
}

div.x2{
	max-width: 500px:
	margin: otomatis;
	border: 3px solid black;
}